.nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 2vw 10vw;
    align-items: center;
    color: black;
    box-sizing: border-box;
    background-image: linear-gradient(to right top, #f4f5f7, #5f6061, #f4f5f7);
    box-shadow: 2px 8px 16px 4px rgba(124,118,118,0.57);
    margin-bottom: 5vw;
}

.nav_ol{
    display: flex;
}

.nav_ol li{
    padding: 0vw 2vw;
}

.nav_ol li a{
    color: black;
    transition: 0.8s all ease-in;
}

.nav_ol li a:hover{
    color: rgb(30, 244, 248);
}

